<?xml version="1.0" encoding="UTF-8"?>
<configuration scanPeriod="60 seconds">


    <!-- Console appender for all environments -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="logFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Use environment variable LOG_DIR or default to ./logs relative to working directory -->
        <!-- For Azure VM, set LOG_DIR=/var/log/longvin-trading or similar absolute path -->
        <file>${LOG_DIR:-logs}/chiaManager.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR:-logs}/longvinTrading-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L - %msg%n</pattern>
        </encoder>
        <!-- Create directory if it doesn't exist -->
        <prudent>false</prudent>
    </appender>


    <!-- Hibernate SQL loggers - set to WARN to suppress SQL statements -->
    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="WARN"/>

    <logger name="quickfix.mina.message.FIXMessageDecoder" level="OFF" additivity="false">
    </logger>
    <logger name="com.longvin.trading" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="logFile"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>